<!-- CADASTRO -->

<div class="cadastro">
    <form action="/cursos/add" method="post">
        <h1 class="title-cadastro">Cadastrar Curso</h1>
        <div class="card">
            <div class="card-body">
                <h2 class="title-2">Dados do curso:</h2>
            </div>
        </div> <small class="obrigatorio2 obrigatorio">(*) Campos obrigatórios</small>
        <div class="div-info">
            <div class="grid-info">
                {{!-- Nome --}}
                <p>
                    <label for="nome_cad">Nome do Curso: <small class="obrigatorio">*</small></label>
                    <input id="nome" name="nome" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off" />
                </p>

                {{!-- Modulos --}}

                <p>
                    <label for="modulo">Módulos:<small class="obrigatorio">*</small></label>
                    <input id="modulo" name="modulo" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off" />
                </p>

                {{!-- Carga horária --}}
                <p>
                    <label for="cargaHoraria">C. Horária:<small class="obrigatorio"> *</small></label>
                    <input id="cargaHoraria" name="cargaHoraria" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off" />
                </p>
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Cadastrar Disciplinas:</h2>
            <div class="card-body scrl">
                {{#each disciplinas}}
                <div class="card">
                    <div class="card-body ">
                        <div id="disciplinas" >
                            <div class="box-aluno-inline">
                                <h1 class="nome-disciplina">Nome: {{dataValues.nome}}</h1>
                                <h1 class="carga-horaria">Carga horária: {{dataValues.horario}} </h1>
                                <h1 class="ministrante">Ministrante: {{dataValues.ministrante}} </h1>
                                <h1 class="semestre">Semestre: {{dataValues.semestre}} </h1>

                                <div class="form-check form-switch select-curso">
                                    <input class="form-check-input check-curso" type="checkbox" role="switch"
                                        value="{{dataValues.nome}}" id="disciplinasCadastradas"
                                        name="disciplinasCadastradas">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Selecionar
                                        este</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>





        <input class="btn btn-secondary btn-cadastrar-submit" style="border: none; background-color: #0c7c59;"
            type="submit" value="Salvar" />
    </form>
</div>