<!-- EDIÇÃO -->
{{#each cursos}}

<div class="cadastro">
    <form action="/cursos/editcurso/{{dataValues.id}}" method="post">
        <h1 class="title-cadastro">Informações do curso:</h1>
        <div class="card">
            <div class="card-body">
                <h2 class="title-2">Dados do curso: {{dataValues.nome}}</h2>
            </div>
        </div>
        <small class="obrigatorio2 obrigatorio">(*) Campos obrigatórios</small>
        <div class="div-info">
            <div class="grid-info">

                {{!-- Codigo Curso --}}
                <p>
                    <label for="CodCurso">Codigo do Curso:<small class="obrigatorio"> *</small></label>
                    <input id="codCurso" name="codCurso" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off"
                        value="{{dataValues.id}}" disabled="" />
                </p>

                {{!-- Nome --}}
                <p class="matricula">
                    <label class="nome-label" for="nome_cad">Nome do Curso: <small class="obrigatorio">*</small></label>
                    <input class="nome-input" id="nome" name="nome" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off"
                        value="{{dataValues.nome}}" />
                </p>

                {{!-- Modulos --}}

                <p class="matricula">
                    <label class="nome-label" for="codCurso">Módulos:<small class="obrigatorio">*</small></label>
                    <input class="nome-input" id="modulo" name="modulo" required
                        oninvalid="this.setCustomValidity('Preencha todos os campos obrigatórios!')"
                        onchange="try{setCustomValidity('')}catch(e){}" type="text" autocomplete="off"
                        value="{{dataValues.modulo}}" />
                </p>

                {{!-- Carga horária --}}
                <p>
                    <label for="cargaHoraria">C. Horária:<small class="obrigatorio"> *</small></label>
                    <input id="cargaHoraria" name="cargaHoraria"
                        oninvalid="setCustomValidity('Preencha todos os campos obrigatórios!')" required type="text"
                        value="{{dataValues.cargaHoraria}}" />
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2 class="title-2">Disciplinas do curso: {{dataValues.nome}}</h2>
            </div>
            <div class="card-body">
                {{!-- Disciplinas que o Curso Contêm --}}
                <div id="disciplinas-curso" class="scroll">
                    <script>
                        let inner = document.getElementById('disciplinas-curso');
                        let disciplinas = "{{dataValues.disciplinasCadastradas}}";
                        let dividir = disciplinas.split(",");
                        let quantidade = dividir.length;

                        for (valor = 0; valor < quantidade; valor++) {
                            inner.innerHTML += ` 
                                <div class="scroll">
                                    <ul>
                                        <li>
                                            <div> ${dividir[valor]}</div>
                                       </li>
                                    </ul>
                                </div>`
                        }
                    </script>
                </div>
            </div>
        </div>

        {{/each}}

        <input class="btn btn-secondary btn-cadastrar-submit" style="border: none; background-color: #0c7c59;"
            type="submit" value="Salvar" />
    </form>
</div>